  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-AlmostWhite min-w-[375px] min-h-[800px];
  font-family: Epilogue;
  font-weight: 500;
}


.pre {
  @apply bg-red-400 bg-opacity-30  sm:bg-blue-400 sm:bg-opacity-30 md:bg-green-400  md:bg-opacity-30 lg:bg-cyan-400 lg:bg-opacity-30;
}

